<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<div class="pagebuilder-overlay"></div> <p style="text-align: center; margin-top: 1rem;">
<strong>Venta Moda MX</strong> "Tenemos envíos a cualquier lugar de México"
</p>
</div>  
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #a30909;">
<!-- Container wrapper -->
<div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
       
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if(loginUser) {%>
                <% if(loginUser.role == "Admin") { %>
                    <li class="nav-item">
                        <a class="nav-link" style="color: aliceblue;" href="/admin/home"> <h5>Administrador <i class="fas fa-user-shield"></i></h5> </a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" style="color: aliceblue;" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: aliceblue;" href="/productAll"> Todos los Productos</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" style="color: aliceblue;" href="/novedades">Novedades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: aliceblue;" href="/categorias">Categorias</a>
                    </li>                            
                 
                    <% } %>
                <% }else{ %>
                    <li class="nav-item">
                        <a class="nav-link" style="color: aliceblue;" href="/">Inicio</a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: aliceblue;" href="/productAll"> Todos los Productos</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" style="color: aliceblue;" href="/novedades">Novedades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: aliceblue;" href="/categorias">Categorias</a>
                        </li>
                     
                    
                <% } %>   
                

        </ul>

        <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
        <!-- Icon -->
        <!-- <% if(loginUser){ %>
            <div class="userName me-3 d-none d-sm-block" style="color: white;"><h5 class="">Hola <%= loginUser.username%></h5></div>
        <%}%>  -->

        <form class="d-flex input-group w-auto"> 
            <input
              type="search"
              class="form-control rounded"
              placeholder="Buscar"
              aria-label="Search"
              aria-describedby="search-addon"
              id="ruta" 
              name="ruta"
            />
            
          </form>

            <% if(loginUser){ %>
                <a style="margin-left: 1rem;" class="text-reset me-3" href="/user/cart/">
                    <i class="fas fa-shopping-cart" style="font-size: 1.2rem; color: aliceblue;"></i>
                    <%let cartLength=0 ;if(loginUser){cartLength=loginUser.cart.length} %> 
                    <span class="badge rounded-pill badge-notification bg-success"><%=cartLength%></span>
                </a>
            <% } %>

        <!-- Notifications -->
      

        <!-- Avatar -->
        <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuLink"
            role="button" data-mdb-toggle="dropdown" aria-expanded="false">
    
          
           <% var photourl
           try{
           photourl=loginUser.photo||`data:image/${loginUser.image.contentType};base64,${loginUser.image.data.toString('base64')}` }
           catch(e){
               photourl=`https://toppng.com/uploads/preview/app-icon-set-login-icon-comments-avatar-icon-11553436380yill0nchdm.png`}%>
        
            <img style="margin-left: 0.5rem;" src="<%= photourl%>" class="rounded-circle" height="35" alt="" width="35"
                loading="lazy" alt="Not Found"/>
            
              
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
        <% if(loginUser){ %> 
            <li>
                
                <div class="dropdown-item"><strong>Usuario: </strong><%= loginUser.username%> <br>
                    <% if( loginUser.role == "Customer") {%>
                                           <strong>Correo: </strong><%= loginUser.email%></div>
                    <% } %>

            </li>
            <% if( loginUser.role == "Admin") {%>
            <% } else { %>
                <li>
                    <a class="dropdown-item" href="/user/orders">Tus Ordenes</a>
                </li>
            <% } %>
            <li>
                <a class="dropdown-item" href="/logout">Cerrar Sesion</a>
            </li>
        <%}
        else {%>
            <li>
                <a class="dropdown-item" href="/register">Registrarse</a>
            </li>
            <li>
                <a class="dropdown-item" href="/login">Iniciar Sesión</a>
            </li>
        <% } %>
        </ul>
    </div>
    <!-- Right elements -->
</div>
<!-- Container wrapper -->
</nav>
<!-- Navbar -->

<!-- Utilizando un CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script>
$(function() {
$('#ruta').autocomplete({
source: function(request, response) {
  $.ajax({
    url: '/autocomplete',
    dataType: 'json',
    success: function(data) {
      response(data);
    }
  });
},
minLength: 1, // Se especifica que se muestren las sugerencias a partir del primer carácter ingresado
select: function(event, ui) {
  window.location.href = ui.item.value; // Se redirige al usuario a la ruta seleccionada
  return false; // Se previene el comportamiento predeterminado del evento 'select'
}
});
});


</script>

