

<title>Editar Producto</title>
</head>
<body>

<div class="container-fluid my-2">

</div> 
<main class="body-container">
    <div class="home container">
        <h1 class="text-center my-2">Editar Producto</h1>
        <hr>
        <div class="forms res-width m-auto">
            <form action="/ActualizarProducto/<%=data._id %>" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
                <div class="form-outline mb-4">
                    <input type="text" id="name" class="form-control" name="nombre" value="<%=data.nombre%>" required/>
                    <label class="form-label" for="name">Nombre</label>
                  </div>
                  <div class="form-outline mb-4">
                    <textarea class="form-control" id="desc" rows="4" name="descripcion" required><%= data.descripcion %> </textarea>
                    <label class="form-label" for="desc">Descripcion</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="price" class="form-control" name="precio" value="<%=data.precio%>" required/>
                    <label class="form-label" for="price">Precio</label>
                  </div>
                  <div class="form-outline mb-5">
                    <input type="file" class="form-control" name="imagen" id="customFile" />
                  </div>
                  <div>
                    <img src="/img/<%=data.imagen%>" alt="">
                  </div>

                  <div class="btn-container d-flex flex-column w-50 justify-center m-auto">
                    <button type="submit" class="btn btn-primary mb-4">Guardar</button>
                    <button type="reset" class="btn btn-primary mb-4">Restablecer</button>
                  </div>
                  
            </form>
        </div>
    </div>
  
</main>