<%- include("../partials/header") %> 

<title>Todos los productos <%=data.name%></title>
<style>
  .action-button .btn{
    margin-right: 5px;
  }
</style>
</head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<body>
<%- include("../partials/navbar")%>
<main>
<div class="container-fluid my-2">
  <%- include("../partials/flash") %>
</div> 
<div class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Productos</li>
      <li class="breadcrumb-item active" aria-current="page"><%=data.name%></li>
    </ol>
  </nav>
</div>
<div class="product-comment row">
  <section class="product-details col-md-7">
    <div class="card" >
      <div class="row">
        <div class="col-6">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light" style="text-align: center">
            <% if(data.image && data.image.data!=undefined){%>
              <img src="data:image/<%=data.image.contentType%>;base64,<%=data.image.data.toString('base64')%>" width="300" height="300" class="img-fluid"/>
            <%}
            else {%>
            <img
                src="<%=data.img%>"
                class="img-fluid"
              />
    <%}%>
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>
        <div class="col-6">
          <div class="card" style="width: 18rem; margin-top: 4rem;">
            <div class="card-body">
              <h5 class="card-title">Nombre del Producto: <br> <%=data.name%></h5> <br>
              <h6 class="card-subtitle mb-2 text-body-secondary">Categoria: <%=data.categoria%></h6>
              <h6 class="card-subtitle mb-2 text-body-secondary">Talla: <%=data.talla%></h6>
              <h6 class="card-subtitle mb-2 text-body-secondary">Color: <%= data.color %></h6>
              
              <p class="card-text">Precio:  &#36;<%=data.price%> <br>
                                   Disponibilidad: <% if(data.activo == true){%> Disponible <% }else{%> No disponible <%}%></p>
            </div>
          </div>
        </div>
        </div>
                        
                        <div class="container">
                        <div class="card-body">
                          <h6 class="card-subtitle mb-2 text-muted">Descripcion:</h6>
                          <p class="card-text" style="text-align: justify;">
                            <%=data.desc%>
                          </p>
                          <div class="action-button d-flex flex-column align-items-center ">
                            <div class="allbuttons">
                              <div class="addtocart mb-2">
                                <%
                                  let addtoCart=`/user/cart/${data._id}`
                                   %>
                                <form action="<%=addtoCart%>" method="post" class="d-flex justify-content-evenly">
                            <button type="submit" class="btn btn-success">Agregar al carrito</button>
                            <div class="form-outline">
                              <input type="number" id="typeNumber" class="form-control " min=1 max=5 value="1" name="quantity"/>
                              <label class="form-label" for="typeNumber">Unidades</label>
                            </div>
                            
                            </form> 
                              </div>
                              <%if(loginUser && loginUser.role=='Admin'){%>
                            <div class="adminButton d-flex justify-content-evenly">
                              <a href="/admin/products" class="btn btn-primary">Admin DashBoard</a>
                            </div>
                          <%}%>
                            </div>
                          
                          
                          </div>
                          
                          <!-- <a href="/products/<%=data._id%>" class="btn btn-success"></a> -->
                        </div>
                      </div>
                      </div> 

</section> 
</div>  

</div>    
</main>
<%- include("../partials/footer") %> 