<%- include("../partials/header") %>

<title>Nuevo Producto</title>
</head>
<body>
<%- include("../partials/navbar") %> 
<div class="container-fluid my-2">
  <%- include("../partials/flash") %>
</div> 
<main class="body-container">
    <div class="home container">

    
        <h1 class="text-center my-2">Agregar productos al inventario.</h1>
        <hr>
        <div class="forms m-auto res-width">
            <form id="form" action="/products/new" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
              <label class="form-label" for="price">Nombre</label>  
              <div class="form-outline mb-5">

                    <input type="text" id="name" class="form-control" name="name" required/>
                    <label class="form-label" for="name">Nombre del Producto</label>
                    <div class="valid-feedback">¡Los datos son correctos!</div>
                    <div class="invalid-feedback">Tienes que escribir el nombre correcto</div>
                  </div>

<script>
  document.getElementById("name").addEventListener("input", function() {
    var input = this.value.replace(/[^a-zA-Z0-9\s]/g, ''); // Remover caracteres no alfabéticos ni números ni espacios
    input = input.slice(0, 200);
    
    if (input.trim().length === 0) {
      this.setCustomValidity("*Campo requerido");
    } else {
      this.setCustomValidity("");
    }
    
    this.value = input;
  });
  
</script>

                  
                  <!-- Este apartado es para colocar el precio del producto -->
                  <label class="form-label" for="price">Precio en moneda Mexicana</label> 
                  <div class="form-outline mb-3">
                    <input type="number" id="price" class="form-control" min="0" name="price" required/>
                    <label class="form-label" for="price">Precio</label>
                    <div class="valid-feedback">¡Los datos son correctos!</div>
                    <div class="invalid-feedback">Tienes que escribir el precio correcto</div>
                  </div>

                  
                  
                  <!-- Este apartado es para colocar el Color del producto -->
                 <!-- Cambiar "name" de los campos de color y talla a minúsculas -->
<div class="form-outline mb-3">
  <label class="form-label" for="price">Color</label>
  <select class="form-select" aria-label="Default select example" name="color" required id="color">
    <option selected disabled value="">Selecciona una Color...</option>
    <% color.forEach((item)=>{ %> 
      <option value="<%=item.colores%>"><%=item.colores%></option>
    <% }) %>
  </select>
  <div class="valid-feedback">¡Los datos son correctos!</div>
  <div class="invalid-feedback">Tienes que seleccionar el color correcto</div>
</div>

<!-- Cambiar "name" de los campos de color y talla a minúsculas -->
<div class="form-outline mb-3">
  <label class="form-label" for="price">Tallas</label>
  <select class="form-select" aria-label="Default select example" name="talla" required id="editorial">
    <option selected disabled value="">Selecciona una Talla...</option>
    <% talla.forEach((item)=>{ %> 
      <option value="<%=item.tallas%>"><%=item.tallas%></option>
    <% }) %>
  </select>
  <div class="valid-feedback">¡Los datos son correctos!</div>
  <div class="invalid-feedback">Tienes que seleccionar la talla correcta</div>
</div>
<div class="form-outline mb-4">
                    <div class="valid-feedback">¡Los datos son correctos!</div>
                    <div class="invalid-feedback">Tienes que seleccionar la categoria correcto</div>
                  </div>
                  <!-- Este apartado es para seleccionar una categoria -->
                  <div class="form-outline mb-3">
                    <label class="form-label" for="price">Categorías </label>
                    <select class="form-select" aria-label="Default select example" name="categoria" required id=" validationCustom04 categoria">
                      <option selected disabled value="">Selecciona una cCategoría...</option>
                      <% for(item of cat.reverse()){ %> 
                        <option value="<%=item.categorias%>"><%=item.categorias%></option>
                      <% } %>
                    </select>
                    <div class="valid-feedback">¡Los datos son correctos!</div>
                    <div class="invalid-feedback">Tienes que seleccionar la categoria correcto</div>
                  </div>
                  <!-- Este apartado es para agregar una imagen desde tu equipo -->
                  <h6 class="my-3 text-center"></h6>
                  
                  <label  class="form-label" for="image" required>Selecciona una imagen de tu equipo local </label>
                  <div class="form-outline mb-4">
                    <input type="file" class="" name="image" id="customFile"  onchange="return validarExt()" required/>
                    <div class="valid-feedback">¡Los datos son correctos!</div>
                    <div class="invalid-feedback">¡No es un archivo de imagen válido!</div>
                  </div>
                
                  
                  <label class="form-label" for="desc">Descripcion </label>
                  <div class="form-outline mb-5">
                    <textarea class="" id="desc" rows="8" cols="80"name="desc" required></textarea>
                    <div class="valid-feedback">¡Los datos son correctos!</div>
                    <div class="invalid-feedback">Tienes que escribir la sipnosis</div>
                  </div>
                  <script>

                    document.getElementById("desc").addEventListener("input", function() {
                      var input = this.value.slice(0); 
                      
                      if (input.trim().length === 0) {
                        this.setCustomValidity("*Campo requerido");
                      } else {
                        this.setCustomValidity("");
                      }
                      
                      this.value = input;
                    });
                    
                  </script>
                
                  <div class="btn-container d-flex flex-column w-50 justify-center m-auto">
                    <button type="submit" class="btn btn-primary mb-4">Agregar Producto</button>
                    <button type="reset" class="btn btn-primary mb-4">Limpiar datos</button>
                  </div>
            </form>

            <script>
              function validarExt() {
                var archivoInput = document.getElementById('customFile');
                var archivoRuta = archivoInput.value;
                var extPermitidas = /\.(jpg|jpeg|png|gif)$/i;
              
                if (!extPermitidas.exec(archivoRuta)) {
                  alert('Asegúrate de haber seleccionado una imagen válida (jpg, jpeg, png o gif)');
                  archivoInput.value = '';
                  return false;
                } 
                
                
              }
              
            </script>
          </body>
          </html>
      
        </div>
    </div>
</main>

<%- include("../partials/footer") %>